.container {
  border: 1px solid gainsboro;
  background-color: white;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.73);
  padding: 15px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}
